*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container{
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}
h1{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
}
input{
    width: 100%;
    padding: 10px;
    border:  2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: 0.3s;
}
input:focus {
    border-color: #6c63ff;
    outline: none;
}
button{
    width: 100%;
    background: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover{
    background: #5848e4;
}
.container #qrCode{
    display: flex;
    align-items: center;
    justify-content: center;
}
#qrCode img, #qrCode canvas{
    border-radius: 8px;
}
#qrCode{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border: none;
    border-radius: 12px;
    display: inline-block;
    transition: all 0.3s ease;
}
#qrCode:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
#download-btn{
    display: none;
}